.conteiner_colecao {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
}

.content_colecoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_colecoes .content_colecoes_itens {
    display: flex;
    padding: 10px;
}

.content_colecoes .content_colecoes_itens p {
    padding-bottom: 10px;
    text-align: center;
}

.colecoes-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.colecao_img {
    width: 100px;         
    height: 100px;
    border-radius: 50%;   
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.img_colecoes {
    max-width: 70%;       
    cursor: pointer;
}

.img_colecoes:hover {
    filter: hue-rotate(300deg) brightness(1.2) contrast(1.2);
}