.sidebar {
  height: 100%;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.select-filtro-mark {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contener-categoria-filtro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo-filtro {
  color: rgba(71, 71, 71, 1);
  font-size: 15px;
}

.titulo-h4-filtro {
  color: rgba(71, 71, 71, 1);
  margin-bottom: 7px;
  font-size: 14px;
}