.sidebar {
  height: 100%;  
    max-width: 120px;
    padding: 10px;
  }
  .select-filtro-mark{
    display: flex;
    flex-direction: column;
    
  }
  .barra{
    border-top: 1px solid #ccc;
    width:100%;
  }